/**
 * @file     style.css
 * @brief    Stylesheet associated to index.html
 * @author   Created by AntoineM
 * @version  03.07.2023
 */

#mainCanvas{
    border : 10px solid black;
    background-color: brown;
}

#canvasDiv{
    text-align: center;
    margin-top: 50px;
}

body{
    background-color: antiquewhite;
}